/*
---
name: Main
category: main
sourcePath: /
---

The Main Stylesheet includes all categories and is used
as the starting point for compiling all project-related scss-files
*/

// generic styles
@use 'shared/html';
@use 'shared/animations';
@use 'shared/typography';

// portfolio sections
@use 'section/section-c64';
@use 'section/section-backend';

// sprites
@use 'sprite/sprite-me';
