/*
---
name: Main
category: main
sourcePath: /
---

The Main Stylesheet includes all categories and is used
as the starting point for compiling all project-related scss-files
*/

// generic styles
@import 'shared/html';
@import 'shared/animations';
@import 'shared/typography';

// portfolio sections
@import 'section/section-c64';
@import 'section/section-backend';

// sprites
@import 'sprite/sprite-me';
